{% extends 'base.html' %}



{% block content %}
<h1>Cart</h1>
<br/>
<br/>
{% if cart.products.exists %}
<table class="table cart-table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Image</th>
            <th>Product Name</th>
            <th>Product Price</th>
            
          </tr>
        </thead>
        <tbody class="cart-body">
            {% for product in cart.products.all %}
            
          <tr class='cart-product'>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{{ product.get_absolute_url }}" class="btn btn-primary">
            <img  src="{{ product.image.url }}" width="80" height="80" alt="{{ product.title }} logo">
                </a>
                </td>
            <td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br/>{% include 'carts/snippets/remove-product.html' with product_id=product.id  %}</td>
            <td>{{ product.price }}</td>
                      </tr>
            {% endfor %}
          <tr>
            <td colspan="3"></th>
            <td><b>SubTotal</b><span class='cart-subtotal'> {{ cart.subtotal }}</span></td>
           
          </tr>
          <tr>
            <td colspan="3"></th>
            <td><b>Total</b><span class='cart-total'> {{ cart.total }}</span></td>
         
          </tr>
          <tr>
            <td colspan="3"></th>
            <td><a class="btn btn-lg btn-success" href ='{% url "cart:checkout" %}'>Checkout</a></td>
         
          </tr>
      
        </tbody>
      </table>
<div class='cart-item-remove-form' style='display:none'>
    {% include 'carts/snippets/remove-product.html' %}
</div>      
{% else %}
    <p class="lead">Cart is Empty</p>
{% endif %}              

{% endblock %}