<div class="card" style="width: 18rem;">
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">
    <img class="card-img-top" src="{{ instance.image.url }}" width="100" height="100" alt="{{ instance.title }} logo">
    </a>
        <div class="card-body">
      <h5 class="card-title">{{ instance.title }}</h5>
      <p class="card-text">{{ instance.description | truncatewords:6 }}</p>
      <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>
      {% include 'products/snippets/update-cart.html' with product=instance cart=cart %}
      <!--<a href="{% url 'products:detail' slug=instance.slug %}" class="btn btn-danger">Url shortcuts</a>
    !-->
    </div>
  </div>